@keyframes fadeIn {
  0% {
    opacity: 0.7;
    transform: scaleY(90%);
  }
  100% {
    opacity: 1;
    transform: scaleY(100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.3;
    transform: scaleY(100%);
  }
  100% {
    opacity: 0;
    transform: scaleY(90%);
  }
}

.header {
  flex: 0;
  background: white;
  position: sticky;
  border-bottom: 1px solid rgb(223, 223, 223);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  top: 0;
  left: 0;
  padding: 0.2rem 0.5rem;
  transition-duration: 1s;
  transition: 0.1s;
  color: black;
  animation: fadeIn 0.1s ease-out;
  transform-origin: top;
  z-index: 1;
  h1 {
    padding: 0.5rem;
  }
}

.hide {
  top: -10px;
  opacity: 0;
  animation: fadeOut 0.1s ease-in;
}
