.gridCellContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  width: fit-content;
  width: 200px;
  min-height: 50px;
  padding: 0.5rem;
  .displayText {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
  &:hover {
    background: rgb(174, 174, 174);
    cursor: cell;
  }
  input,
  select {
    height: 100%;
    width: 100%;
    margin: 1rem 0;
  }
}

.notEditable {
  .gridCellContainer {
    &:hover {
      background: white !important;
      cursor: pointer !important;
    }
  }
}
