.gridContainer {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 5rem;
  background: rgba(3, 1, 20, 0.849);
  overflow-x: scroll;
  .grid {
    color: black;
    border-radius: 0.2rem;
  }
}
