.headerRow {
  display: flex;
  .addColButton {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 0.2rem;
    height: fit-content;
    width: fit-content;
    background: green;
    border-radius: 0.2rem;
    background: rgb(73, 156, 252);
    svg {
      font-size: 1.5rem;
    }
    &:hover {
      cursor: pointer;
      background: rgb(78, 147, 226);
    }
  }
  .dropdownWrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
  }
}

.dragActive {
  height: 100%;
}
