@use '../../styles/variables' as s;

.gridCellContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem;
  border: 1px solid s.$grid-border-color;
  border-bottom: 0;
  border-right: 0;
  background: white;
  min-width: 100px;
  height: 50px;
  .displayText {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  input,
  select {
    height: 100%;
    width: 100%;
    margin: 1rem 0;
  }
}

.gridEditMode {
  &:hover {
    cursor: default !important;
  }
}
