.headerCell {
  position: relative;
  .disableOverflow {
    overflow: inherit !important;
    resize: none !important;
  }
  .cellContent {
    &:active {
      cursor: none;
    }
    background: rgb(217, 219, 210);
    font-weight: 700;
    position: relative;
    resize: horizontal;
    overflow: hidden;
    &:hover {
      filter: brightness(90%);
      cursor: grab;
    }
    .sortButton {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      margin: 0.15rem 0.15rem 0 0;
      background: none;
      color: black;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
    .flipButton {
      transform: rotateX(180deg);
    }
    .highlightButton {
      svg {
        background: yellow;
      }
    }
    .isDragging {
      top: 0;
      z-index: 99;
      position: absolute;
      border: 2px dashed white;
      height: 100vh;
      width: 100%;
      background: rgb(126 184 225 / 35%);
    }
  }
  .currentDragTarget {
    top: 50px;
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100%;
  }
  .leftDragTarget {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 50%;
  }
  .rightDragTarget {
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 50%;
  }
  .leftDragPlaceholder {
    display: block;
    top: 0;
    left: 50%;
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 50%;
  }
  .rightDragPlaceholder {
    display: block;
    top: 0;
    right: 50%;
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 50%;
  }
}
