html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  border-radius: 0.1rem;
  background: rgb(9, 136, 255);
  color: white;
  &:focus {
    outline: none;
  }
  &:hover {
    background: rgb(78, 141, 201);
  }
}

#__next {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  main {
    flex: 1 0 0;
    width: 100%;
  }
}
